{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="{% static 'styles/register.css' %}" />

  <title>CA Login</title>
</head>

<body>
  <div class="desktop">
    <div class="background" style="background-image: url({% static 'media/computer-gf9ea5290a_1920.jpg'%})">
      <div class="center">
        <main class="container">
          <div class="contain2">
            <img src="{% static 'media/pencils-g3812d60b1_1280.jpg' %}" />

          </div>
          <div class="contain">
            <h2>Sign In</h2>
            {% for message in messages %}
            <style>
              h5 {
                color: red;
              }
            </style>
            <h5>{{message}}</h5>
            {% endfor %}
            <form method="POST" action="">
              {% csrf_token %}
              <label for="username">Email</label>
              <br />
              <input type="email" id="username" name="username" /><br /><br />
              <label for="text">Password</label>
              <br />
              <input type="password" id="password" name="password" /><br /><br />
              <input type="submit" value="Submit" />
            </form>
            <br />
            <br />
            <a href="">Forgot Password</a>
            <br />
            <br />

            <a href="register" return="flase">Register</a>
          </div>
        </main>
      </div>
    </div>
  </div>
  <!-- moblie version -->
  <div class="moblie">
    <div class="contain2">
      <img src="{% static 'media/fiber-4814456_1280.jpg' %}" />
    </div>

    <div class="contain_mobile">
      <h2>Login</h2>
      {% for message in messages %}
      <style>
        h5 {
          color: red;
          padding: 10px;
        }
      </style>
      <h5>{{message}}</h5>
      {% endfor %}
      <form method="POST" action="">
        {% csrf_token %}
        <span class="username">Email</span>
        <br />
        <input type="email" id="username" name="username span_s" /><br /><br />
        <span class="password">Password</span>
        <br />
        <input type="password" id="password" name="password" /><br /><br />
        <input type="submit" value="Login" />
      </form>
      <p><a href="register" return="flase">Register</a>
      </p>
      <p><a href="">Forgot Password</a></p>



    </div>
  </div>

</body>

</html>