{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'styles/register.css' %}">



  <title>CA Register</title>


</head>

<body>
  <div class="desktop">
    <div class="background" style="background-image: url({% static 'media/TreeFallLeaves.jpeg' %})">

      <div class="center">
        <main class="container">
          <div class="contain2">
            <video autoplay muted>
              <source src="{% static 'media/Students - 63328.mp4' %}" type="video/mp4">
            </video>
          </div>
          <div class="contain">
            <h1>Register</h1>
            <form method="POST" action="">
              {% csrf_token %}
              {% for message in messages %}
              <style>
                h2 {
                  color: red;
                }
                @media screen and (min-width: 723px){
                  .contain {
                    padding-top: 10vh;
                  }
                }
              </style>
              <h2>{{message}}</h2>
              {% endfor %}
<div class="felx">

  <div>
  <label for="fname">First Name</label class='label'>
    <br>

    <input type="text" id="fname" name="fname">
  </div>
  <div>
    <label for="lname">Last Name</label id="label">
      <br>
    <input type="text" id="lname" name="lname">

    </div>
</div>
<br>

              <label for="email">Email</label>
              <br>
              <input type="email" id="email" name="email">
              <br>
              <br>
              <label for="password">Password</label>
              <br>
              <input type="password" id="password" name="password">
              <br>
              <br>
              <input class="submit-button" type="submit" value="Submit">
            </form>
            <br>
            <br>
            <a href="login" return="flase">Login</a>
          </div>

        </main>
      </div>
    </div>
  </div>
</body>

</html>